jupyter
ipykernel
requests
pandas
mwparserfromhell
tqdm
numpy
scikit-learn
transformers[pytorch]
torch
matplotlib
seaborn
wikipedia-api
wikipedia
python-dotenv
openai
datasets
mlcroissant[git]
wordcloud
nltk
evaluate
accelerate
optuna
tensorboard